.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  margin: 20px;
  background-color: #7c99ac;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  border: 1px solid white;
}

.formField {
  margin: 8px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.group {
  padding: 10px;
  margin: 10px;
  /* height: 100vh; */
  border: 1px solid white;
}

.heading {
  padding: 8px;
  border: 1px solid white;
  background-color: #7c99ac;
  border-radius: 4px;
  color: white;
}

.label {
  color: white;
  font-weight: bold;
}

.searchBox {
  padding: 2px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #7c99ac;
}

.icon {
  width: 42px;
  height: 42px;
  margin: 20px;
}

.box {
  /* width: 100px; */
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.alert {
  background-color: black;
  color: white;
  padding: 10px;
}

.item {
  margin: 4px;
  border: 3px solid black;
}
